

body{
   background-image:url("Magellan_Veranda_.jpg");
    background-size: cover;
    font-family: "Segoe Script";
    margin: 0;
}
.asd{
    margin-left: 45% ;
    margin-right: 45%;
    height: 2px;
    background-color: white;
    

}
.asd1{
    margin-left: 40% ;
    margin-right: 40%;
    height: 2px;
    background-color: white;

}
h1 {
    color: white;
    text-align: center;
    font-size: 40px;
   

}

.main{
    width: 7%;

    background-color:black;
    height: 50%;
    position: fixed;  
}
.img{
    padding-top: 300px;

}

.si a:hover{
    color:white;
    font-size: 20px;
    text-decoration: none;
    
}

.main2{
   margin-left: 20%;
    margin-right: 15%;
    margin-top: 100px;
    background-color: white;
    height: 1000px;
    border-radius: 5%;
    
}

.asd2{
    margin-left: 45% ;
    margin-right: 45%;
    height: 2px;
    background-color: white;
    margin-top: 3%;

}
.asd3{
    
    margin-left: 40% ;
     margin-right: 40%;
    height: 2px;
    background-color: white;
    
    
}
.main3{
    margin-left: 20%;
     margin-right: 15%;
     margin-top: 100px;
     background-color: white;
     height: 500px;
     border-radius: 5%;
     
 }
 .asd4{
    margin-left: 45% ;
    margin-right: 45%;
    height: 2px;
    background-color: white;
    margin-top: 3%;
 }
 .asd5{
    
    margin-left: 40% ;
     margin-right: 40%;
    height: 2px;
    background-color: white;
 }
footer{
    display: block;
    margin-top: 10%;
    padding-top: 5%;
    background-color: black;
    
    
    
}

